<h2>File Appenders</h2>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

      <input type="text" class="form-control" placeholder="Search appenders" ng-model="controller.searchValue">

    </div>      
  </div>
</form>

<table class="table table-hover" id="logger-list">
  <thead>
    <tr>
      <th width="1%"></th>
      <th>Name</th>
      <th>File</th>
      <th>Layout</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="appender in controller.appenders | orderBy:controller.sortProperty | filter:{ name: controller.searchValue }">
      <td><input type="checkbox" ng-checked="false"></td>
      <td>{{appender.name}}</td>
      <td>{{appender.file}}</td>
      <td>{{appender.layout.conversionPattern}}</td>
    </tr>
  </tbody>
</table>
